<%= render 'shared/errors', object: event %>

<%= form_with model: event do |f| %>
  <div class="mb-3 row">
    <div class="col-sm-10">
      <%= f.text_field :name, required: true, placeholder: 'Название', class: 'form-control' %>
    </div>
  </div>
  <div class="mb-3 row">
    <div class="col-sm-10">
      <%= f.text_area :description, class: 'form-control', placeholder: 'Описание' %>
    </div>
  </div>
  <div class="mb-3 row">
    <div class="col-sm-10">
      <%= f.text_field :city, placeholder: 'Город', class: 'form-control', value: current_user.city %>
    </div>
  </div>
  <div class="mb-3 row">
    <div class="col-sm-10">
      <%= f.collection_select :event_category_id, current_user.event_categories, :id, :name, {}, { class: 'form-control', selected: current_user.event_categories.first } %>
    </div>
  </div>
  <div class="mb-3 row">
    <div class="col-sm-10">
      <%= f.datetime_local_field :datetime, id: :event_datetime_local  %>
      <%= f.date_field :datetime, id: :event_datetime, disabled: true, hidden: true %>
      <%= f.check_box :whole_day_event, onchange: "changeDatetimeType(this)"  %>
      <%= f.label :whole_day_event, 'Событие на весь день' %>
    </div>
  </div>

  <%= f.submit "Подтвердить", class: 'btn btn-primary' %>
<% end %>
